extends layout

block content
    -var fee, sumTotal = 0, sumFee = 0, sumAmazon = 0, sumWalmart = 0, sumCancelled = 0, numOrders = 0
    .row
        .col-md-5
            h1= title
        .col-md-7
            .input-group.input-daterange
                .input-group.date
                    .input-group-addon From
                    .input-group.date#datepicker1
                        input.form-control(type="text" data-provide="datepicker1" data-date-end-date="0d")
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar
                    .input-group-addon to
                    .input-group.date#datepicker2
                        input.form-control(type="text" data-provide="datepicker2" data-date-end-date="0d")
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar
                    .input-group-addon.btn.btn-primary#buttonSearch Search
    table.table.table-hover
        thead
            th Order ID:
            th Order Status:
            th Date Created:
            th Adjustment amount:
            //th Amount paid:
            //th Items:
            //th Ebay Payment Status:
            th Payment Status:
            th Date paid:
            th Total:
            th EBAY+PP Fee:
            //th Address:
            th Amazon total:
            th Walmart total:
        tbody#results
            each order in orders
                tr
                    -numOrders += 1
                    td #{order.id}
                    td #{order.order_status}
                    td #{order.created_time.toLocaleDateString("en-US")}
                    td #{order.adj_amount*-1}
                    -sumCancelled += order.adj_amount*-1
                    //td #{order.paid_amount}
                    //td #{order.items}
                    //td #{order.payment_status}
                    td #{order.status}
                        if order.paid_time
                            td #{order.paid_time.toLocaleDateString("en-US")}
                        else
                            td
                    td #{order.total}
                    -sumTotal += order.total
                    -fee = 0
                    each item in order.items
                        -fee += Number(item.FinalValueFee)
                    -fee += (Number(order.total) * 0.044 + 0.3)
                    -fee = fee.toFixed(2)
                    td #{fee}
                    -sumFee += Number(fee)
                    //td #{order.address}
                    if order.amazon != null
                        td #{order.amazon.total}
                        -sumAmazon += order.amazon.total
                    else
                        td
                    if order.walmart != null
                        td #{order.walmart.total}
                        -sumWalmart += order.walmart.total
                    else
                        td
    script.
        $(function () {
            $('#datepicker1').datepicker('update', '#{dateFrom}'?moment('#{dateFrom}').format('L'):moment().subtract(30, 'days').format('L'));
            $('#datepicker2').datepicker('update', '#{dateTo}'?moment('#{dateTo}').format('L'):moment().format('L'));
            $('#buttonSearch').click(function (event) {
                window.location.replace("/accounting/"
                    + moment($('#datepicker1').datepicker('getDate')).format('YYYY-MM-DD')
                    + "/"
                    + moment($('#datepicker2').datepicker('getDate')).format('YYYY-MM-DD'));
            })
        });
        $(document).ready(function () {
            var plot1 = $.jqplot('pie1', [[['TOTAL', #{sumTotal}], ['Amazon TOTAL', #{sumAmazon}], ['Walmart TOTAL', #{sumWalmart}]]], {
                gridPadding: {top: 0, bottom: 38, left: 0, right: 0},
                seriesDefaults: {
                    renderer: $.jqplot.PieRenderer,
                    trendline: {show: false},
                    rendererOptions: {padding: 8, showDataLabels: true}
                },
                legend: {
                    show: true,
                    placement: 'outside',
                    rendererOptions: {
                        numberRows: 1
                    },
                    location: 's',
                    marginTop: '15px'
                }
            });
        });

    p Orders: #{numOrders}
    p TOTAL Profit: #{sumFee.toFixed(2)}
    p TOTAL Cancelled: #{sumCancelled.toFixed(2)}
    p TOTAL: #{sumTotal.toFixed(2)}
    p TOTAL Amazon+Walmart: #{(sumAmazon + sumWalmart).toFixed(2)}
    p TOTAL Amazon: #{sumAmazon.toFixed(2)}
    p TOTAL Walmart: #{sumWalmart.toFixed(2)}

    #pie1
