extends layout
block content
    .row
        .col-md-5
            h1= title
        .col-md-3
            .captcha
        .col-md-4
            span Updated:
            a.btn.btn-default(onclick='updateData()') #{lastUpdate?lastUpdate.toLocaleString("en-US"):''}
            //form.form-inline
            //    input.form-control#textCaptcha(type="text")
            //    button.btn.btn-primary#buttonOK(type="submit") OK
    table.table.table-hover
        thead
            th Order ID:
            th Order Date:
            th Title:
            th ASIN/ISBN:
            th Shipment Date:
            th Quantity:
            th Item Total:
            th Address:
        tbody
            each order in orders
                tr
                    td #{order.id}
                    td #{order.date?order.date.toLocaleDateString("en-US"):''}
                    td #{order.title}
                    td #{order.asin_isbn}
                    td #{order.shipment_date?order.shipment_date.toLocaleDateString("en-US"):''}
                    td #{order.quantity}
                    td #{order.total}
                    td #{order.shipping_name}, #{order.shipping_street1}, #{order.shipping_street2}, #{order.shipping_city}, #{order.shipping_state}, #{order.shipping_zip}
    .modal
    script.
        var socket = io();
        var $body = $("body");
        socket.on('updateOver', function () {
            $body.removeClass("loading");
            console.log('Data is updated!');
            location.reload();
        });
        var updateData = function () {
            $body.addClass("loading");
            socket.emit('updateBegin');
        }
