extends layout
block content
    .row
        .col-md-5
            h1= title
        .col-md-3
        .col-md-4
            span Updated:
            a.btn.btn-default(onclick='updateData()') #{lastUpdate?lastUpdate.toLocaleString("en-US"):''}
    table.table.table-hover
        thead
            th Order ID:
            th Order Date:
            th URL:
            th Address:
            th Total:
        tbody
            each order in orders
                tr
                    td #{order.id}
                    td #{order.date?order.date.toLocaleDateString("en-US"):''}
                    td #{order.url}
                    td #{order.address}
                    td #{order.total}
    .modalload

    #cookiemodal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times;
                    h4.modal-title Walmart Cookie
                .modal-body
                    .form-group
                        label Paste cookies:
                        textarea.form-control#arraycookies
                .modal-footer
                    button#submitcookies.btn.btn-default Send
    script.
        $("#submitcookies").on('click', function (ev) {
            var arr = [], i;
            try {
                arr = JSON.parse($('#arraycookies').val());
            } catch (err) {
                alert('Error! Paste valid cookies, please!');
                return;
            }
            for(i=0; i<arr.length; i++) {
                if (arr[i].name === 'customer') {
                    $("#cookiemodal").modal('hide');
                    $body.addClass("loading");
                    socket.emit('updateBegin', arr);
                    return;
                }
            }
            alert('Error! Paste valid cookies, please!');
        });
        var socket = io();
        var $body = $("body");
        socket.on('updateOver', function () {
            $body.removeClass("loading");
            console.log('Data is updated!');
            location.reload();
        });
        var updateData = function () {
            $("#cookiemodal").modal('show');
        }